.contract .form-group{
    margin:0
}
.contract_form_label {
font-family: Play;
font-size: 16px;
line-height: 22px;
color: #000000;
}
.contract_form_description {
font-family: Play;
font-size: 16px;
line-height: 22px;
color: #3E3E3D;
margin:0;
}
.contract .form-control:disabled{
    background: #EDEEF0;
border: 2px solid #C4C4C4;
}
.error_span{
 display:block;
 margin-top:5px;
  font-family: Play;
font-size: 16px;
line-height: 22px;
color: brown;
}
.del_dop_phone {
  padding:10px;
  display:flex;

}
.del_dop_phone svg {
  max-width:unset;
  width:20px;
  height:25px;
}
